numpy
folium==0.20.0
geopandas==1.0.1
pandas==2.3.1
pyairtable==3.1.1
pydeck==0.9.1
Requests==2.32.4
selenium==4.35.0
streamlit==1.45.1
streamlit_folium==0.25.0
selenium_stealth
webdriver-manager
undetected-chromedriver
python-dotenv
